/* Navigation styles */
nav {
    position: absolute; /* Start as absolute, over the hero image */
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: transparent; /* Transparent background initially */
    z-index: 10; /* Ensure it appears above the hero image */
    transition: background-color 0.25s ease, position 0.25s ease, color 0.25s ease;
}
  
nav.fixed {
    position: fixed; /* Switch to fixed when scrolled */
    top: 0;
    background-color: var(--nav-background); /* Add a background when fixed */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for emphasis */
}
  
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    float: right;
}
  
nav ul li {
    display: inline-block;
    margin: 0 20px;
}
  
nav ul li a {
    color: var(--white-text); /* Default color from root */
    text-decoration: none;
    font-size: var(--text-font-size); /* Font size from root */
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: color 0.3s ease;
    
}

nav a {
    padding: 10px 10px 10px;
    justify-content: center;
}

.wilbereTitle {
    height: 50px;
    position: fixed; 
    left: 20px;
    top: 10px;
}

/* Text Theme: White */
.white-theme li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}
  
.white-theme li a:hover {
    color: white; /* Prevent hover color change */
    text-decoration: none;
}
  
/* Text Theme: Black */
.black-theme li a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}
  
.black-theme li a:hover {
    color: black; /* Prevent hover color change */
    text-decoration: none;
}